@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'variables';
// @import 'element';
// @import 'layout';


// h1 {
//   @apply text-3xl;
// }




/* @import '' */

/* @font-face {
  font-family: 'inter-light';
  src: url('/fonts/inter-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url("/fonts/inter.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'inter-blod';
  src: url('/fonts/inter-blod.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */


// $bar-track-color: #232e33;
// $bar-thumb-color: #6BAF8D;